#global-sidebar {
    background: rgb(229, 255, 223);
}

#global-container {
    background: rgb(215, 255, 212);
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../local_id.png);
    background-size: 100px 100px;
    filter: grayscale(100%); /* Apply your filter here */
    opacity: 0.025; /* Adjust opacity as needed */
    z-index: 100;
    pointer-events: none;
}
